body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#input-container input {
  margin-bottom: 5px;
}

#calculate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#area-result,
#shape-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
